#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;            /* Footer height */
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

#footerText {
    padding-bottom: 0.5rem;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
}

#lifestyle {
    margin-bottom: 1rem;
}

#fashion {
    margin-bottom: 1rem;
}

#makeup {
    margin-bottom: 1rem;
}

