.dropdown-toggle::after {
    display: none;
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
}

#photoSection {
    padding-top: 1rem;
}

#photographs {
    padding-top: 2rem;
}

#photoCards img {
    margin-top: 1rem;
}

#films {
    padding-top: 2rem;
}

#films iframe {
    padding-top: 1rem;
}

.footer {
    position: absolute;
    width: 100%;
    height: 2rem;
    background-color: #f5f5f5;
}

.footer .container {
    width: auto;
    max-width: 680px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5em;
    text-align: center;
}
